@import "reset";

@function letter-spacing($ps-value) {
    @return ($ps-value / 1000) * 1em
}

$titilium-font: 'Titillium Web', sans-serif;

$blue: #3c5499;
$blue-hover: #293f7e;
$blue-dark: #273a71;
$blue-dark-text: #3c4761;
$blue-footer: #344b8e;

$dark-heading: #27283d;

$violet: #87509c;

$orange: #eb7d4b;
$orange-dark: #c86a40;

$green: #17c2a4;
$green-dark: #14a58c;

$grey: #e7f1f8;
$grey-dark: #c8d9e5;

$skyblue-dark: #299ec5;
$skyblue-text: #30bae7;

$yellowish-text: #f7f3ea;

$white: #fff;

html{
	font-size: 16px;
	font-family: $titilium-font;
}

.container{
	max-width: 1100px;
	padding: 0 20px;
	margin: 0 auto;
}

.flex{
	display: flex;
}

.text-center{
	text-align: center;
}

.nav{
	ul{
		list-style: none;
	}
}

.section-padding{
	padding: 125px 0;
}

.btn {
	display: inline-block;
	padding: 28px 80px 25px;
	margin-top: 60px;
	color: $white;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.125rem;
	background-color: $orange;
	border-radius: 5px;
	border-bottom: 4px solid $orange-dark;
	letter-spacing: letter-spacing(20);
}

.section-title{
	h2{
		font-size: 2.5rem;
		letter-spacing: letter-spacing(100);
		text-transform: uppercase;

		&:after{
			content: "";
			display: block;
			width: 90px;
			margin: 20px auto 25px;
			border-bottom: 4px solid $green-dark;
		}
	}

	p{
		max-width: 610px;
		margin: 0 auto;
		padding-bottom: 80px;
		font-size: 1.125rem;
		line-height: 1.625rem;
		letter-spacing: letter-spacing(20);
	}
}

.section-content{
	justify-content: space-between;

	.col{
		max-width: 200px;
		h3{
			font-size: 1.5rem;
			font-weight: 700;
			letter-spacing: letter-spacing(20);
			padding: 60px 0 30px;
			text-transform: uppercase;
		}
		p{
			font-size: 1rem;
			line-height: 1.5rem;
			font-weight: 300;
			letter-spacing: letter-spacing(20);
		}
	}
}

.header{
	background-color: $blue;

	.container{
		justify-content: space-between;
		align-items: center;
	}

	.logo{
		padding: 50px 0;
	}

	li{
		a{
			display: block;
			padding: 10px 20px;
			border-radius: 5px;
			color: $white;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 1rem;

			&:hover{
				background-color: $blue-hover;
			}
		}
	}
}

.hero{
	background-color: $violet;

	h1{
		font-weight: 700;
		color: $yellowish-text;
		font-size: 2.625rem;
	}
}

.services{
	background-color: $green;
	color: $white;
}

.team{
	background-color: $grey;

	.section-title{
		h2{
			&:after{
				border-color: $grey-dark;
			}
		}

		p{
			max-width: 645px;
		}
	}

	.section-content{
		img{
			border-radius: 50%;
			width: 100%;
			max-width: 100%;
		}

		h3{
			padding-top: 45px;
			padding-bottom: 0;
			color: $dark-heading;
		}

		span{
			color: $skyblue-text;
			font-size: 1rem;
			letter-spacing: letter-spacing(20);
			display: inline-block;
			padding: 5px 0 30px;
		}

		p{
			color: $blue-dark-text;
		}
	}
}

.contact{
	background-color: $blue;
	color: $white;

	.section-title{
		h2{
			&:after{
				border-color: $blue-dark;
			}
		}

		p{
			max-width: 780px;
		}
	}
	.section-content{
		max-width: 860px;
		margin: 0 auto;

		.contact-form{
			.input-row{
				margin-bottom: 30px;

				input{
					padding: 20px 25px;
					border-radius: 5px;
					border: none;
					width: calc(50% - 18px);
					color: $white;
					background-color: $blue-dark;

					&::placeholder{
						color: $white;
					}
				}
				input:first-child{
					margin-right: 16px;
				}
				input:last-child{
					margin-left: 16px;
				}
			}
			textarea{
				border: none;
				width: 100%;
				border-radius: 5px;
				padding: 25px;
				color: $white;
				background-color: $blue-dark;

				&::placeholder{
					color: $white;
				}
			}

			.btn-form{
				background-color: $skyblue-text;
				border-color: $skyblue-dark;
				font-family: $titilium-font;
			}
		}
	}
}



.footer{
	background-color: $blue-footer;
	padding: 50px 0;

	ul{
		justify-content: space-around;
		li{
			a{
				display: block;
				padding: 5px;
				color: $white;
				text-decoration: none;
				font-size: 1.5rem;
				font-weight: 500;
				letter-spacing: letter-spacing(20);

				&:hover{
					color: $skyblue-text;
				}
			}
		}
	}
}