*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* /Reset */
body {
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
}

.container {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-center {
  text-align: center;
}

.nav ul {
  list-style: none;
}

.section-padding {
  padding: 125px 0;
}

.btn {
  display: inline-block;
  padding: 28px 80px 25px;
  margin-top: 60px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.125rem;
  background-color: #eb7d4b;
  border-radius: 5px;
  border-bottom: 4px solid #c86a40;
  letter-spacing: 0.02em;
}

.section-title h2 {
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.section-title h2:after {
  content: "";
  display: block;
  width: 90px;
  margin: 20px auto 25px;
  border-bottom: 4px solid #14a58c;
}

.section-title p {
  max-width: 610px;
  margin: 0 auto;
  padding-bottom: 80px;
  font-size: 1.125rem;
  line-height: 1.625rem;
  letter-spacing: 0.02em;
}

.section-content {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section-content .col {
  max-width: 200px;
}

.section-content .col h3 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  padding: 60px 0 30px;
  text-transform: uppercase;
}

.section-content .col p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.02em;
}

.header {
  background-color: #3c5499;
}

.header .container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .logo {
  padding: 50px 0;
}

.header li a {
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
}

.header li a:hover {
  background-color: #293f7e;
}

.hero {
  background-color: #87509c;
}

.hero h1 {
  font-weight: 700;
  color: #f7f3ea;
  font-size: 2.625rem;
}

.services {
  background-color: #17c2a4;
  color: #fff;
}

.team {
  background-color: #e7f1f8;
}

.team .section-title h2:after {
  border-color: #c8d9e5;
}

.team .section-title p {
  max-width: 645px;
}

.team .section-content img {
  border-radius: 50%;
  width: 100%;
  max-width: 100%;
}

.team .section-content h3 {
  padding-top: 45px;
  padding-bottom: 0;
  color: #27283d;
}

.team .section-content span {
  color: #30bae7;
  font-size: 1rem;
  letter-spacing: 0.02em;
  display: inline-block;
  padding: 5px 0 30px;
}

.team .section-content p {
  color: #3c4761;
}

.contact {
  background-color: #3c5499;
  color: #fff;
}

.contact .section-title h2:after {
  border-color: #273a71;
}

.contact .section-title p {
  max-width: 780px;
}

.contact .section-content {
  max-width: 860px;
  margin: 0 auto;
}

.contact .section-content .contact-form .input-row {
  margin-bottom: 30px;
}

.contact .section-content .contact-form .input-row input {
  padding: 20px 25px;
  border-radius: 5px;
  border: none;
  width: calc(50% - 18px);
  color: #fff;
  background-color: #273a71;
}

.contact .section-content .contact-form .input-row input::-webkit-input-placeholder {
  color: #fff;
}

.contact .section-content .contact-form .input-row input:-ms-input-placeholder {
  color: #fff;
}

.contact .section-content .contact-form .input-row input::-ms-input-placeholder {
  color: #fff;
}

.contact .section-content .contact-form .input-row input::placeholder {
  color: #fff;
}

.contact .section-content .contact-form .input-row input:first-child {
  margin-right: 16px;
}

.contact .section-content .contact-form .input-row input:last-child {
  margin-left: 16px;
}

.contact .section-content .contact-form textarea {
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 25px;
  color: #fff;
  background-color: #273a71;
}

.contact .section-content .contact-form textarea::-webkit-input-placeholder {
  color: #fff;
}

.contact .section-content .contact-form textarea:-ms-input-placeholder {
  color: #fff;
}

.contact .section-content .contact-form textarea::-ms-input-placeholder {
  color: #fff;
}

.contact .section-content .contact-form textarea::placeholder {
  color: #fff;
}

.contact .section-content .contact-form .btn-form {
  background-color: #30bae7;
  border-color: #299ec5;
  font-family: "Titillium Web", sans-serif;
}

.footer {
  background-color: #344b8e;
  padding: 50px 0;
}

.footer ul {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.footer ul li a {
  display: block;
  padding: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.footer ul li a:hover {
  color: #30bae7;
}
